
<h3> <%= link_to "New staff", new_staff_path %></h3>
<% Department.all.order(:department_name).each do |d| %>
<hr>
	<h4><%= d.department_name %></h4>
	<% d.staffs.order(:first_name).each do |s| %>
	<table>
			<tr>
				<td style="padding:10px; width:300px"><%= s.first_name.capitalize + " " + s.last_name.capitalize%> </td>
				<td><%= s.pnumber %></td>
				<td><%= link_to 'Delete', s, method: :delete, data: { confirm: "Are you sure" }, id: 'delete-project'%></td>
			</tr>
			</table>
	<% end %> 
<% end %>	
