<h1>Staff#new</h1>

<%= form_for(@staff) do |staff| %>
	  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
	<tr>
		<td><%= staff.label :first_name %></td>
		<td><%= staff.text_field :first_name %></td>
	</tr>
	<tr>
		<td><%= staff.label :last_name %></td>
		<td><%= staff.text_field :last_name %></td>
	</tr>
	<tr>
		<td><%= staff.label :email %></td>
		<td><%= staff.text_field :email %></td>
	</tr>
	<tr>
		<td><%= staff.label :office_tel %></td>
		<td><%= staff.text_field :office_tel %></td>
	</tr>
	<tr>
		<td><%= staff.label :password %></td>
		<td><%= staff.password_field :password %></td>
	</tr>
	<tr>
		<td><%= staff.label :password_confirmation %></td>
		<td><%= staff.password_field :password_confirmation %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= staff.submit 'Save' %></td>
	</tr>

</table>
<% end %>

<p>Find me in app/views/staff/new.html.erb</p>
