<div>
  <div class="login_form">

	<%= form_for(:session, url: login_path) do |f| %>
	    <table style="margin:0 auto;width:200px;margin-bottom:10px">
	    	<tr>
	    		<td></td>
	    		<td><h2 style="text-align:center">Login</h2></td>
	    	</tr>
			<tr>
	      		<td class="login_labels"><%= f.label "pnumber/username" %></td>
	      		<td><%= f.text_field :pnumber, id: 'login_fields' ,  :placeholder => 'Enter pnumber'%></td>
	      	</tr>
	      	<tr>
	      		<td class="login_labels"><%= f.label :password %></td>
	      		<td ><%= f.password_field :password, id: 'login_fields'  %></td>
	      	</tr> 
	      	<tr>
	      		<td></td>
	      		<td>
	      			<div class="login_button_div"><%= f.submit "Log in!", id: 'login_button' %></div>
	      		</td>
	      	</tr>
		</table>
		
    <% end %>
  </div>
</div>
