
<h3> <%= link_to "New staff", new_student_path %></h3>
<% Course.all.each do |d| %>
<hr>
	<h4><%= d.course_name %></h4>
	<% d.students.each do |s| %>
	<table>
			<tr>
				<td style="padding:10px; width:300px"><%= s.full_name.titleize%> </td>
				<td><%= s.pnumber %></td>
				<td><%= link_to 'Delete', s, method: :delete, data: { confirm: "Are you sure" }, id: 'delete-project'%></td>
			</tr>
			</table>
	<% end %> 
<% end %>	
