
<div>
	<%= link_to 'Back', current_student, :class => 'back_button' %>
</div>

	<h2 style="text-align:center;">My Applications</h2>
Number of Applications: <%= @project_applications.count %>
<hr>
<% if !@project_applications.empty? %>

<% @project_applications.each do |project_applications| %>
<% if !project_applications.applicationreplies.empty? %>
	<%= link_to "View Reply", application_reply_url(project_applications), id: 'edit-project', :style => "float:right" %>
<% end %>
	<%= link_to "withdraw application", project_applications, method: :delete, data: { confirm: "Sure to withdraw application?" }, id: 'delete-project', :style => "float:right" %>
	<% p = project_applications.project_id.to_i %>
	<% Project.where(id: p).find_each do |p| %>

			<div class="search-results-content">

			    

			    <h3 class="title"> <%= link_to p.title, p, class: "title-link"%> </h3>
			    <div class="description"><%= p.description %> </div>
			    <div class="tags">  Tags:
				
				<% p.project_tags.each do |pt|%>
					<div id="tags">
					 	<% tagstring = pt.tag_name.to_s.downcase %>
				        <%= link_to tagstring, {:controller => "projects", :q => tagstring},  :class => 'tags_link'%>
					</div>
				<% end %>

			    <% tags = p.tags.split(",") %> 
			    <% tags.each do |t| %>
			        <div id="tags"><%# t %>
			        	<% tagstring = t.to_s.downcase %>
			        	<%= link_to tagstring, {:controller => "projects", :q => tagstring},  :class => 'tags_link'%>
			        
			        </div> 
			    <% end %>
			    </div style="margin-top:5px;">
			    <div style="font-size:0.7em">Project proposal by: <%=link_to p.staff.first_name[0].upcase + ". " + p.staff.last_name.capitalize, p.staff %></div>	
			    
			</div>
	<% end %>
<% end %>
<% else %>
		<p>	You do not have any project_applications</p>
<% end %>
<br>
<hr>
<div>
	<%= link_to 'Back', current_student, :class => 'back_button' %>
</div>
