<div class="comment_inner_box">
 <%# @project_suggestion.suggestionreplies.each do |comment| %>

	 <div>
		<% if current_student.present? %>
			<% person = current_student.full_name.titleize %>
		<% elsif current_staff.present?%>
			<% person = current_staff.first_name.capitalize + " " + current_staff.last_name.capitalize %>
		<% end %>
	 	<% if suggestionreply.commenter == person %>
	 		<div class='commenter2'> <%= suggestionreply.commenter + ", "  %> <span style="font-size:0.8em"> <%= suggestionreply.created_at.to_date %> at <%= suggestionreply.created_at.strftime("%H:%M") %></span></div>
		    <div class='comment'> <%= simple_format(suggestionreply.note)%></div>
		    <%#= comment.id %>
	 	<% else %>
	 		<div class='commenter'> <%= suggestionreply.commenter + ", "  %> <span style="font-size:0.8em"> <%= suggestionreply.created_at.to_date %> at <%= suggestionreply.created_at.strftime("%H:%M") %></span></div>
		    <div class='comment'> <%= simple_format(suggestionreply.note)%></div>
		    <%#= comment.id %>
	 	<% end %>
	 	</div>

<%# end %>
</div>