<h1 style="margin-bottom:40px;">ProjectTags</h1>
<%= form_for @project_tag do |p_t| %>
	  <% if @project_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_tag.errors.count, "error") %> prohibited this project tag details from being saved:</h2>

      <ul>
      <% @project_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table>
		<tr>
			<td  class="field_names", style="font-size:1.4em"><%= p_t.label :tag_name%></td>
			<td><%= p_t.text_field :tag_name, id: 'title_edit' %></td>
			<td><%= p_t.submit "save", id: 'save_button' %></td>
		</tr>

	</table>
	
<% end %>


<% if !@project_tag.errors.any? %>
	<%= render 'projecttags' %>
<% end %>