<div style="display:block">
	<div class="footer_header">
		<ul>
			<%= link_to "Browse all projects", projects_path, class: "footer_links"%>
			<%= link_to "Browse projects by course", courses_path, class: "footer_links"%>
			<%= link_to "Browse projects by level", levels_path, class: "footer_links"%>

		</ul>
	</div>
	<div class="footer_header">
		<ul>
			<%= link_to "Browse projects by category", categories_path, class: "footer_links"%>
		</ul>
	</div>
	<div class="footer_header">

	</div>
</div>
<div class="bottom_nav">
	<ul>
		<%= link_to "About", abouts_path, class: "bottom_links" %>
		<%= link_to "Help", helps_path, class: "bottom_links" %>
		<li class="bottom_links">Contact Admin</li>
		<li class="bottom_links">Copyright 2016</li>
	</ul>
</div>
