<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Studentproject" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Studentproject" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <div class="wrapper">

      <header>
        <span class=""><%= link_to "Project Search", root_path,  :class => 'main-title'%></span>
        <%= render 'layouts/navigation' %>
      </header>

      <div>
      <% if yield(:title).to_s == "Welcome"%>
        <%= render 'layouts/search' %>
      <% else %>
        <%= render 'layouts/osearch' %>
      <% end %>
      </div>
      
      <div class="main">
          <%= render 'layouts/messages' %>
          <%= yield %>
      </div>

        
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
  
</html>

